:root {
}

.description-cotainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background-color: #fff;
  background-image: url("https://assets.website-files.com/617437ea4f9dce4d8bf0c366/626848989542e777fcb84c3d_Mask%20Group%201.png");
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
