:root {
}

.inputpin-cotainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  background-color: #fff;
  gap: 30px;
  flex: 1;
}
