$border-color: #cccccc;
$border-active-color: #3898ec;
$border-error-color: #d50000;
$input-bg-color: #f8f9fd;
$input-text-color: #333333;

input[type="text"]:focus,
input[type="text"]:active,
input[type="text"]:hover,
input[type="text"]:focus-visible {
  border: none;
}

input[type="text"] {
  -webkit-appearance: none;
  width: 50px;
  height: 50px;
  border: 1px solid $border-color;
  text-align: center;
}

input[type="text"]:focus-visible {
  border: 2px solid $border-active-color;
  outline: $border-active-color auto 1px;
}

input[type="text"]:hover {
  border: 1px solid $border-active-color;
}

input[type="text"][data-state="error"]:focus-visible {
  outline: $border-error-color auto 1px;
}

input[type="text"][data-state="focus"]:focus-visible {
  outline: $border-active-color auto 1px;
}

.input-box .input-box[data-mode="hide"] {
  content: "";
}

@keyframes changeLetter {
  0% {
    content: "";
  }
  50% {
    color: white;
  }
  100% {
    content: ".";
  }
}

.input-box::after .input-box[data-mode="hide"][data-state="success"] {
  content: ".";
  animation: changeLetter 3s linear;
}
