input[type="checkbox"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
}

.show-hide {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#show-hide-toggle {
  border-radius: 2px;
  background-color: #fff;
  border: 2px solid #c1c1c1;
  font-size: 1px;
  height: 24px;
  width: 24px;
  z-index: 1;
}

label {
  color: #1c1c1c;
}
